<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
  $(document).ready(function(){
  $(".full-image-slider").slick({  
  infinite: false,
  slidesToShow: 1,
  autoplay:true
});
  });
</script>
<style>
  .full-image-slider img{
    height:400px;
    width:100%;
  }
</style>
<div class="full-image-slider">
{% for block in section.blocks %}
<div>
  <a href="{{ block.settings.url }}">
    <img src="{{ block.settings.image | img_url:'master' }}"/>
  </a>
</div>
{% endfor %}
</div>

{% schema %}
  {
    "name": "Slick Slider",
    "settings": [],
    "blocks": [
      {
        "type": "image",
        "name":"Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Url"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slick Slider"
      }
    ]
  }
{% endschema %}